/* border and other content ke bich ka space ko margin kahte hai */

.div1{
    border: 1px solid red;

    padding: 25px 50px 30px 70px;
}

/*
body{
    border: 5px dotted black;
}
*/


/* #margin{ */
   /* 
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10px; 
    */

    /*shortcut*/ /* margin: 25px 12px 40px 60px; */

    /* margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10px; */

    /* width: 200px;
    margin: 20px auto; */
/* } */

#margin{
    margin-top: 50px;
}

#colsp{
    margin-bottom: 30px;
}
