/* 
   p {
       color : blue;
   }
   
   *where p represents Selector 
   means Select HTML elements to style

   *color is Property Name

   *blue is value

   P{
     color : blue;
     font-size : 12px;
   } 
*/