/* selector:pseudo-class{

}

a:link {

}

a:hover{

} */

/* li:first-child{
    color: red;
} */

/* li:last-child{
    color: red;
} */

/* li:nth-child(4){
    color: red;
} */

/* li:nth-child(odd){
    color: red;
} */

/* li:nth-child(3n + 1){
    color: red;
} */

input:focus{
    border: 3px solid red;
}