@media screen{
    p{
        font-size: 20px;
    }
}

/* page ko print karne pe ye property apply hoga */
@media print {
    p{
        font-size: 30px;
    }
    img{
        display: none;
    }
    div{
        width: 50%;
    }
}